# === Catkin-Workspace – generierte Verzeichnisse ==========
build/
devel/
install/
log/
logs/

# === ROS tools ============================================
.rosinstall
rosdep.yaml
.catkin_tools/

# === Editor- und IDE-Artefakte =============================
.vscode/
.idea/
*.code-workspace

# === Python ===============================================
__pycache__/
*.py[cod]

# === CMake / Make / Ninja =================================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# === Backup & temporäre Dateien ===========================
*~
*.swp
*.swo
.DS_Store
URDF/

# Doxygen output
doc/html/
doc/latex/
*.dot
*.tag

# Erlaube Doxygen-Eingabedateien
!doc/*.dox
!doc/images/
!doc/images/*.png
!doc/pdf/
!doc/pdf/*.pdf

# Weitere temporäre Dateien
imgui.ini
