<launch>
  <!-- Argumente -->
  <arg name="robot_name" default="sero_2"/>
  <arg name="robot_namespace" default="robot1"/>
  <arg name="urdf_path" default="$(find sero_2)/urdf/sero_2.urdf"/>
  <arg name="moveit_package" default="sero_2_moveit"/>
  <arg name="world_pose" default="-x 0 -y 0 -z 0.5 -R 0 -P 0 -Y 0"/>
  <arg name="pipeline" default="ompl"/>
  <arg name="moveit_controller_manager" default="ros_control"/>

  <!-- eval-Pfade vorberechnen -->
  <arg name="controllers_path" default="$(eval find(arg('moveit_package')) + '/config/gazebo_controllers.yaml')"/>
  <arg name="ros_controllers_launch" default="$(eval find(arg('moveit_package')) + '/launch/ros_controllers.launch')"/>
  <arg name="move_group_launch" default="$(eval find(arg('moveit_package')) + '/launch/move_group.launch')"/>
  <!-- SRDF Pfad vorberechnen -->
  <arg name="srdf_path" default="$(eval find(arg('moveit_package')) + '/config/' + arg('robot_name') + '.srdf')" />


  <group ns="$(arg robot_namespace)">
    <!-- Lade das URDF -->
    <param name="robot_description" textfile="$(arg urdf_path)" />

    <!-- 🆕 Lade die zugehörige Semantic Description (SRDF) -->
    <param name="robot_description_semantic" textfile="$(arg srdf_path)" />


    <!-- Spawne das Modell in Gazebo -->
    <node name="spawn_$(arg robot_namespace)" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg robot_name) -param robot_description $(arg world_pose)"
          output="screen" />

    <!-- Lade die Controller -->
    <rosparam file="$(arg controllers_path)" command="load"/>
    <include file="$(arg ros_controllers_launch)" />

    <!-- Starte MoveIt -->
    <include file="$(arg move_group_launch)">
      <arg name="pipeline" value="$(arg pipeline)" />
      <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    </include>
  </group>
</launch>
