<?xml version="1.0"?>
<!--
  @file control_utils.launch
  @package sero_multi_station
  @brief Utility launch file to load controller configurations and spawners.

  Used as an include in higher-level launch files to:
  - load controller parameters (YAML)
  - start controller manager
  - spawn joint_state and trajectory controllers
-->

<launch>

<!-- Robot state publisher -->
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
</node>
<!--
<rosparam file="$(find sero_multi_station)/config/pid_gains.yaml" command="load" /> -->

<!-- Joint state controller -->
<rosparam file="$(find sero_multi_station)/config/joint_state_controller.yaml" command="load" />
<node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="false" output="screen" />

<!-- Joint trajectory controller -->
<rosparam file="$(find sero_multi_station)/config/trajectory_controller.yaml" command="load" />
<node name="sero_trajectory_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="sero_1_ctrl sero_2_ctrl sero_3_ctrl" />

</launch>
