<launch>

    <param name="robot_description_conveyor_belt_1" command="$(find xacro)/xacro $(find station_peripherals)/urdf/conveyor_belt_1.urdf"/>
    <param name="robot_description_conveyor_belt_2" command="$(find xacro)/xacro $(find station_peripherals)/urdf/conveyor_belt_2.urdf"/>
    <param name="robot_description_sero_1_sockel" command="$(find xacro)/xacro $(find station_peripherals)/urdf/sero_1_sockel.urdf"/>
    <param name="robot_description_sero_2_sockel" command="$(find xacro)/xacro $(find station_peripherals)/urdf/sero_2_sockel.urdf"/>
    <param name="robot_description_sero_3_sockel" command="$(find xacro)/xacro $(find station_peripherals)/urdf/sero_3_sockel.urdf"/>
    <!-- <param name="robot_description_workobject" command="$(find xacro)/xacro $(find station_peripherals)/urdf/workobject.urdf"/> -->

    <!-- Include bringup_moveit.launch from the same package -->
    <include file="$(find sero_multi_station)/launch/bringup_moveit_just_sim.launch" />

    <!-- Spawn station peripherals -->
    <!-- Spawn first conveyor     -->
    <node name="spawn_conveyor_1" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-param robot_description_conveyor_belt_1 -urdf -model conveyor_belt_1 -x -2.5 -y 0 -z 0 -Y 1.5708"/>

    <!-- Spawn second conveyor    -->
    <node name="spawn_conveyor_2" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-param robot_description_conveyor_belt_2 -urdf -model conveyor_belt_2 -x 0 -y 2.5 -z 0"/>

    <!-- Spawn sero_1 sockel -->
    <node name="spawn_sero_1_sockel" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-param robot_description_sero_1_sockel -urdf -model sero_1_sockel -x 1.5 -y 0 -z 0"/>

    <!-- Spawn sero_2 sockel -->
    <node name="spawn_sero_2_sockel" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-param robot_description_sero_2_sockel -urdf -model sero_2_sockel -x 0 -y -1.5 -z 0"/>

    <!-- Spawn sero_3 sockel -->
    <node name="spawn_sero_3_sockel" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-param robot_description_sero_3_sockel -urdf -model sero_3_sockel -x 0 -y 0 -z 0"/>

    <!-- Wait for 2 seconds -->
    <!-- <node pkg="roslaunch" type="roslaunch" name="sleep_2_seconds" args="sleep 2" /> -->

    <!-- Spawn workobject -->
    <!-- <node name="spawn_workobject" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-param robot_description_workobject -urdf -model workobject -x 0.0 -y 1.05 -z 0.547 -R 3.1415 -P 0 -Y 3.1415"/> -->


</launch>
