<launch>
  <!-- Launch sero_1 into Gazebo -->
  <include file="$(find multi_robot_station)/launch/gazebo1.launch">
    <arg name="robot_name" value="sero_1"/>
    <arg name="x" value="1.5"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.525"/>
    <arg name="R" value="0"/>
    <arg name="P" value="0"/>
    <arg name="Y" value="1.5708"/>
  </include>

  <!-- Launch MoveIt for sero_1 -->
  <group ns="sero_1">
    <include file="$(find sero_1_moveit)/launch/demo.launch">
      <arg name="load_robot_description" value="false"/>
    </include>
  </group>

</launch>
