<?xml version="1.0"?>
<launch>

<!-- Robot state publisher -->
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
</node>

<!-- Joint state controller -->
<rosparam file="$(find multirobot_moveit)/config/joint_state_controller.yaml" command="load" ns="sero_1" />
<rosparam file="$(find multirobot_moveit)/config/joint_state_controller.yaml" command="load" ns="sero_2" />
<rosparam file="$(find multirobot_moveit)/config/joint_state_controller.yaml" command="load" ns="sero_3" />

<node name="joint_state_controller_spawner_1" pkg="controller_manager" type="spawner"
      args="joint_state_controller" ns="sero_1" />
<node name="joint_state_controller_spawner_2" pkg="controller_manager" type="spawner"
      args="joint_state_controller" ns="sero_2" />
<node name="joint_state_controller_spawner_3" pkg="controller_manager" type="spawner"
      args="joint_state_controller" ns="sero_3" />

<!-- Joint trajectory controller -->
<node name="sero1_trajectory_controller_spawner" pkg="controller_manager" type="spawner"
      args="sero_1_ctrl" ns="sero_1" respawn="false" output="screen" />
<node name="sero2_trajectory_controller_spawner" pkg="controller_manager" type="spawner"
      args="sero_2_ctrl" ns="sero_2" respawn="false" output="screen" />
<node name="sero3_trajectory_controller_spawner" pkg="controller_manager" type="spawner"
      args="sero_3_ctrl" ns="sero_3" respawn="false" output="screen" />


</launch>
